/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #FFF1F7;
  --theme-switch-hover: rgba(50, 49, 45, .4);
}

.theme_light {
  --accent-color: #ff8dcb;
  --decoration-zone-border: #353430;
  --theme-switch-color: #353430;
  --title-primary-color: #FFC2E6;
  --title-primary-shadow-color: #FF8DCB;
  --title-content-color: #353430;
  --title-secondary-color: #353430;
  --main-text-color: #353430;
}
.theme_light .header {
  background-image: url("../images/cover-image-light.png");
}
.theme_light .decorated-zon__rec-decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  .theme_auto{
    --background-color: #FFF1F7;
    --accent-color: #ff8dcb;
    --decoration-zone-border: #353430;
    --theme-switch-color: #353430;
    --title-primary-color: #FFC2E6;
    --title-primary-shadow-color: #FF8DCB;
    --title-content-color: #353430;
    --title-secondary-color: #353430;
    --main-text-color: #353430;
    --theme-switch-hover: rgba(50, 49, 45, .4);
  }

  .theme_auto .header {
    background-image: url("../images/cover-image-light.png");
  }

  .theme_auto .decorated-zon__rec-decoration {
    display: none;
  }
}
