/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding: var(--main-indent);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  background-color: var(--background-color);
}

.header {
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.decorated-zone {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  justify-content: space-between;
}
.decorated-zone::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0px;
  inset-inline-start: 0px;
  border-block-end: 1px solid var(--decoration-zone-border);
  border-inline-start: 1px solid var(--decoration-zone-border);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 0px;
  inset-block-start: 0px;
  border-block-start: 1px solid var(--decoration-zone-border);
  border-inline-end: 1px solid var(--decoration-zone-border);
}

.decorated-zon__rec-decoration {
  position: absolute;
  inset-inline-end: 0px;
  text-transform: uppercase;
  color: #ff0070;
  line-height: 1.4em;
}

.decorated-zon__rec-decoration::after {
  content: "";
  inline-size: 1.4em;
  margin-inline-start: 7px;
  margin-inline-end: 7px;
  margin-block-end: 3px;
  block-size: 0.4em;
  inline-size: 0.4em;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ff0070;
  background-color: #ff0070;
  box-shadow: 0 0 3px 3px #ff0070;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  padding-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__theme-menu-button {
  padding: 1px 13px;
  text-transform: lowercase;
  color: var(--theme-switch-color);
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--theme-switch-hover);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--theme-switch-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--theme-switch-color);
  pointer-events: none;
}

.header__title {
  font-size: var(--main-header-font-size);
  font-weight: bold;
  line-height: 82.5%;
  color: var(--title-primary-color);
  text-shadow: 4px 4px 0px var(--title-primary-shadow-color);
}

.header__epigraph {
  background-color: var(--accent-color);
  color: var(--title-content-color);
  font-weight: bold;
  align-self: center;
  justify-self: end;
  max-inline-size: 355px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--section-indent);
  padding-block: var(--vertical-indent);
}
.question {
  display: grid;
  gap: 20px;
}
.question__content {
  display: grid;
  gap: 20px;
}
.question__title {
  font-size: 1em;
  color: var(--title-secondary-color);
}

.question__subtitle {
  font-size: 1em;
  color: var(--title-content-color);
  background-color: var(--accent-color);
}

.question__text {
  padding-block-start: 10px;
  color: var(--main-text-color);
  line-height: 1.3em;
}

.question__link {
  cursor: pointer;
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.question__link:hover {
  outline: 1px solid currentColor;
}

.question__text-subtitle {
  padding-block-start: 0px;
  font-weight: bold;
  color: var(--title-content-color);
  background-color: var(--accent-color);
}

.question-art {
  display: grid;
  gap: var(--main-indent);
}

.question-art__image {
  inline-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--main-indent);
  inline-size: 100%;
  block-size: 100vb;
}

.footer__title {
  color: var(--title-primary-color);
  font-size: var(--main-header-font-size);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--title-primary-shadow-color);
}

@media (min-width: 768px) {
  :root {
    --main-indent: 20px;
    --section-indent: 80px;
    --vertical-indent: 40px;
    --main-header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__epigraph {
    max-inline-size: 364px;
  }

  .question-why,
  .question-how {
    grid-template-columns: 1fr 2fr;
  }

  .question-what .question__title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .image-header {
    grid-column: span 3;
  }

  .question-art {
    grid-template-columns: repeat(3, 1fr);
  }

  .question-art__image {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .question-art__image:first-of-type {
    grid-column: span 2;
  }

  .question-art__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .question-art__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .question-art__image:last-of-type {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  :root {
    --main-header-font-size: 157px;
    --title-primary-shadow-color: #ff0070;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block: 0px 273px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__epigraph {
    max-inline-size: 491px;
  }

  .question-what .question__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
